*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.platform{
    height: 100vh;
    width: 100vw;
    background-image: url("details.jpg");    
    background-size: cover;
}
.details{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player1,.player2{
    height: 90%;
    width: 40vh;
}
.player2{
    margin-left: 120px;
}
.player{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.favicon{
    height: 100%;
    width: 6.5vh;
    border-radius: 50%;
}
.favicon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.avatar2,.avatar1{
    height: 6.5vh;
    border-radius: 50%;
}
.playerScore{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.life{
    height: 42px;
    width: 42px;
}
.playerName{
    height: 100%;
    width: 75%;
    color: white;
    font-size: 5vh;
    text-shadow: 2px 2px 1px grey;
    font-family: 'Permanent Marker', cursive;
    outline: none;
    text-transform: capitalize;
}
.playerName:hover{
    cursor: pointer;
}
.versus{
    font-size: 5vh;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 1px grey;
}
.playArea{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableFrame{
    height: 90%;
    width: 70%;
    border-radius: 20px;
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-size: 67rem 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table{
    height: 88%;
    width: 92%;
    background-color: green;
    border-radius: 5px;
    box-shadow: -2px -2px 2px 2px rgba(107, 74, 12, 0.5),
    1px 1px 1px 1px #16af224d, inset -10px -10px 15px rgba(114, 80, 18, 0.6), inset 10px 10px 15px rgba(212, 124, 124, 0.425);
}
.ball{
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
    background-image: url("ball.jpg");
    box-shadow: -2px -2px 2px 2px rgba(107, 74, 12, 0.5),
    1px 1px 1px 1px #16af224d, inset -10px -10px 15px rgba(114, 80, 18, 0.6), inset 10px 10px 15px rgba(212, 124, 124, 0.425);
    position: fixed;
    left: 50vw;
    top: 55vh;
}
.paddle{
    height: 15vh;
    width: 3vh;
    background-image: url("paddle.jpg");
    border-radius: 5px;
    box-shadow: -2px -2px 2px 2px rgba(107, 74, 12, 0.5),
    1px 1px 1px 1px #16af224d, inset -10px -10px 15px rgba(114, 80, 18, 0.6), inset 10px 10px 15px rgba(212, 124, 124, 0.425);
    position: fixed;
}
.paddleLeft{
    top: 49vh;
    left: 19vw;
}
.paddleRight{
    top: 49vh;
    right: 19vw;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
}
.winnerName{
    font-size: 10vh;
    text-transform: capitalize;
    font-family: 'Permanent Marker', cursive;
    color: rgb(175, 226, 81);
    width: 25vw;
    text-shadow: 2px 2px 1px grey;
}
.wins{
    font-size: 8vh;
    color: rgb(204, 238, 142);
    text-shadow: 2px 2px 2px grey;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
}
.winningEmoji img{
    height: 60vh;
    width: 60vh;
    margin-top: 8vh;
}
.startButton{
    position: fixed;
    top: 80vh;
    left: 5vh;
    height: 8vh;
    width: 10vw;
    border-radius: 15px;
    box-shadow: -2px -2px 2px 2px rgba(37, 12, 107, 0.5),
    1px 1px 1px 1px #533eb34d, inset -10px -10px 15px rgba(40, 15, 107, 0.6), inset 10px 10px 15px rgba(140, 124, 212, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 5vh;
    background-image: url();
}
.startButton:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(37, 12, 107, 0.5),
    -1px -1px 1px 1px #533eb34d, inset 10px 10px 15px rgba(40, 15, 107, 0.6), inset -10px -10px 15px rgba(140, 124, 212, 0.425)
}
